html {
  font-size: 62.5%;
  line-height: 1;
}
body{
  font-family: Montserrat,sans-serif;
  background: #fff;
}
.container {
  margin: 0 auto;
  padding: 4rem 2rem;
}

@media only screen and (min-width:1000px) {
  .container {
    max-width:800px;
    padding: 4rem 0;
  }
}